/* Colors */
$default-color-1: #ff7f00;
$default-color-2: #183072;
$primary-color-1: #eb6101;
$primary-color-2: #ee7801;
$primary-color-3: #f39800;
$primary-color-4: #f7ab00;
$secondary-color: #23449c;
